body{
    background: rgb(95, 95, 252) url(./icones/nova\ logo1.png) no-repeat right;
}
#topo{
    color: rgb(91, 255, 70);
    font-size: 500%;
}
#contatos{
    height: max-content;
    width: max-content;
    color: rgb(35, 35, 187);
    background-color: rgb(91, 255, 70);
    font-size: 500%;
}
